<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henallux.smartcities">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyActivitiesActivity" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ServicesActivity" />
        <activity android:name=".OfferServiceActivity" />
        <activity android:name=".ConnectionActivity" />
        <activity android:name=".SeeCommentActivity" />
        <activity android:name=".SearchServiceActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".ModifProfilActivity" />
        <activity android:name=".MyServicesDoneActivity" />
        <activity android:name=".MyServicesGivenActivity"></activity>
    </application>

</manifest>